<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @message.sender == current_user ? t("generic.me") : @message.sender.full_name %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.recipient == current_user ? t("generic.me") : @message.recipient.full_name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.content %>
</p>

<%= authorized_edit_message_path @message %>&nbsp;
<%= link_to 'Back', messages_path %>
